//  1. Colors
// ------------------------------------------
$primary-color: #1976d2 !default;
$background-primary-color: #fff !default;
$text-primary-color: rgba(0, 0, 0, 0.87) !default;
$text-invert-color: white !default;
$text-secondary-color: #a1a3b2 !default;

//  2. Typography
// ------------------------------------------
$font-family-sans-serif: unquote(
  "Roboto, Helvetica Neue, Arial, sans-serif"
) !default;
