@import "../../../assets/styles/config/variables";

.header {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  height: 50px;
  padding: 0 20px;
  background-color: $primary-color;
}

.brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.brand__logo {
  max-height: 70%;
  width: auto;
  height: fit-content;
  margin-right: 15px;
}
.brand__title {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
  color: $text-invert-color;
  white-space: nowrap;
}
