@import "../../assets/styles/config/variables";

.sidebar {
  position: absolute;
  top: 50px;
  left: 0;
  width: 300px;
  height: calc(100vh - 50px);
  padding: 10px;
  box-sizing: border-box;
  background-color: $background-primary-color;
}

.sidebar__title {
  padding: 0 10px;
}
